.me_main{
    // background-color: rgb(218, 220, 221);
  .me_cover{
      background-color: #fff;
      padding:12px ;
      padding-bottom: 15px;

  }

  .me_info {
        overflow: hidden;
        >div{
          float: left;
        }

        .me_tj{
          float: right;
          padding-top: 10px;
          margin-right: 20px;
          overflow: hidden;
        }
  }
}


 