.home{
        // 头部高度
    .ant-layout-header{
        height: 40px;
        border: none;
        padding-top: 10px;
        padding-left: 15px;

        .ant-menu-item{
            padding: 0px 12px;
        }
    }

     
    // 头部选择 去掉 下边框
    .ant-menu-horizontal{
        border-bottom: none;
        text-align: right;
    }
    // 头部hover 去掉 下边框
    .ant-menu-horizontal > .ant-menu-item:hover, 
    .ant-menu-horizontal > .ant-menu-submenu:hover, 
    .ant-menu-horizontal > .ant-menu-item-active, 
    .ant-menu-horizontal > .ant-menu-submenu-active, 
    .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > 
    .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, 
    .ant-menu-horizontal > .ant-menu-submenu-selected {
        color: #1890ff;
        border-bottom: 2px solid #fff;
    }
    // logo 样式
    .logo{
        width: 90%;
        height: 31px; 
        margin:20px auto; 
    }    
}

.ant-popover-inner-content {
    padding: 3px 2px;
    color: rgba(0, 0, 0, 0.65);
    max-width: 500px;
}
.ant-list-item-meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    padding-left: 21px;
    padding-right: 10px;
    flex: 1 1;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 0;
}
.ant-list-header, .ant-list-footer {
   padding-top: 0px;  
    padding-bottom: 0px;  
}


.swsw .ant-tabs-nav .ant-tabs-tab{
   margin-left:10px ;
}

.swsw .ant-list-items{
    max-height: 370px;
    overflow: auto;
   
    &::-webkit-scrollbar {
        width:2px;
        background-color: aqua;
    }     

    /* 滚动槽 */
    ::-webkit-scrollbar-track {
    border-radius:10px;
    }

    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgb(99, 231, 248);
    }
 
} 

.swsw .ant-list-footer{
    >div{
        border-top: 0.5px solid #ebe8e8;
    }
}
 
  