.studentList{
    cursor: pointer;
    // span{
    //     margin-left: 15px;
    // }
    // // margin-bottom: 7px;
    // // padding-bottom: 3px;
    // i{
    //     font-style: initial;
    //     float: right;
    //     margin-top: 4px;
    // }
    .ant-divider-horizontal{
        margin: 4px auto;
       
    }
    
}

.iconRow{
    i{
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}