.home{
    
}
.logo_text{
    color: #fff;
    font-size: 20px; 
    text-align: center;
    text-shadow: 0px 0px 10px #fff;
    font-family:'华文琥珀' ;
    letter-spacing:4px;
    
}
.tagBox h4{
   padding-bottom: 2px;
}
 
// .test_header_Card .ant-statistic-title {
//    text-align: left;
    
// }
// .test_header_Card .ant-statistic-content-value {
//    text-align: left;
    
// }

