.index{
     .echarts_a{
         margin-right:10px;
         
 
     }
     .echarts_min{ 
        background-color: #fff;  
        margin-left: 10px!important;
        overflow: hidden;
     }
     .list_test_main{
        background-color: #fff; 
        margin-top: 10px;    
        margin-left: 10px!important;
        padding-top: 10px;
        overflow: auto;
     }
}
  